#nav-box {
	font-size: 40px;
	padding-left: 2%;
	color: white;
	}

#nav-box i {
	position: fixed;
	z-index: 1;
}

.drop-down-menu {
	font-family: 'Montserrat', sans-serif;
	color: white;
	display: inline-block;
	position: fixed;
	font-size: 25px;
}

.drop-down-menu ul {
	list-style: none;
	padding-top: 15%;
}

.drop-down-menu a {
	color: white;
}

.drop-down-menu a:hover {
	color: #E65100;
	text-decoration: none;
}
