.projects-row {
	display: flex;
	align-items: center;
	min-height: 500px;
}

.projects-row .col-md-8 {
	overflow: hidden;
	align-items: center;
	display: flex;
}

.projects-row .col-md-2 {
	text-align: center;
}

.arrow {
	font-size: 50px;
	background-color: transparent;
	border: none;
	color: white;
}

.arrow:hover {
	color: #E65100;
}

.image-box {
	height: 550px;
}

.image-box img {
	max-width: 100%;
	max-height: 100%;
	border: 5px solid white;
}

.image-header {
	text-align: center;
}

.more-info-buttons {
	text-align: center;
	font-size: 40px;
	margin-bottom: 10%;
	margin-top: 1%;
}

.more-info-buttons a  {
	color: white;
	/*background-color: #E65100;
	border-radius: 50%;
	padding: 3px;*/
}

.more-info-buttons a:hover {
	color: #E65100;
	/*background-color: white;
	border-radius: 50%;
	padding: 3px;*/
}

/*.more-info-buttons i {
	background-color: #E65100;
	border-radius: 25%;
	padding: 0.5%;
}*/

.more-info-buttons i:hover {
	color: #E65100;
	/*background-color: white;*/
	cursor: pointer;
}

.more-info {
	text-align: center;
	padding-left: 15%;
	padding-right: 15%;
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 2%;
	padding-bottom: 2%;
  color: white;
  border-radius: 20px;
	border: 5px solid #E65100;
}


.more-info span {
	font-weight: bold;
}

.project-section h1 {
	font-family: 'Montserrat', sans-serif;
}

.project-section .more-info {
	font-family: 'Quattrocento', serif;
	font-size: 25px;
}

/*.menu-bar {
	font-size: 60px;
	padding-left: 2%;
	padding-top: 0.5%;
	color: white;
}

.menu-bar i {
	position: fixed;
	z-index: 1;
}*/

.fa-bars:hover {
	color: #E65100;
	cursor: pointer;
}

#top {
	padding-top: 2%;
}

#top h1 {
	color: white;
	display: inline;
}

.all-projects-container {
	height: 100%;
}
