<head>
  <style type="text/css" src="css/navbar.css"></style>
</head>
<div id="nav">

  <ul id="menu-bar">
    <div id="left-logo">
      <img id="bn-logo" src="img/bn-logo.png">
    </div>
    <li id="menu-options"><a class="menu-list" href="#">projects&nbsp</a></li>
    <li id="menu-options"><a class="menu-list" href="/about.html">about&nbsp</a></li>
    <li id="menu-options"><a class="menu-list" href="https://learn.co/bennorris/resume">resume</a></li>
    <li id="menu-options"><a class="menu-list" href="https://docs.google.com/forms/d/15ZIxWP_3CnP-55_twjYy3ab2kwoF3M7-8SLv3Hr6XtQ/viewform" target="_blank">contact&nbsp</a></li>
    <li id="menu-options"><a class="menu-list" href="http://bennorris.github.io/blog" target="_blank">blog&nbsp</a></li>
    <li id="menu-options"><a href="http://www.github.com/bennorris" class="iconBlack" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
    <li id="menu-options"><a href="https://www.linkedin.com/in/benjamindnorris" target="_blank" class="iconBlack"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    <a href="#" id="dropdown">menu</a>
</div>
