<div ng-style="{{bodyImage}}" class="all-project-container" height="100%">
<navigate></navigate>
<div class="project-section" ng-repeat="slide in slides" ng-hide="!isCurrentSlideIndex($index)">
  <div class="row">
    <div id="top" class="image-header">
      <h1>{{slide.description}}</h1>
    </div>
  </div>

  <div class="row projects-row">
    <div class="col-md-2">
      <button class="arrow" ng-click="previousSlide()"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
    </div>
    <div class="col-md-8 image-box">
      <img ng-src="{{slide.image}}" class="project-img" ng-show="showImage">
      <div id="details" class=" more-info" ng-show="toggleInfo">
        <p ng-if="slide.overview !== undefined"><span>Overview:</span>  {{slide.overview}}<br><br></p>
        <p ng-if="slide.front !== undefined"><span>Front:</span>  {{slide.front}}<br><br></p>
        <p ng-if="slide.back !== undefined"><span>Back:</span>  {{slide.back}}<br><br></p>
        <p ng-if="slide.apis !== undefined"><span>APIs:</span>  {{slide.apis}}<br><br></p>
      </div>
    </div>

    <div class="col-md-2">
      <button class="arrow" ng-click="nextSlide()">  <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 more-info-buttons">
      <a ng-click="toggleMoreInfo('details')"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
      <a ng-if="slide.github !== undefined" href="{{slide.github}}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a ng-if="slide.codepen !== undefined" href="{{slide.codepen}}" target="_blank"><i class="fa fa-codepen" aria-hidden="true"></i></a>
      <a ng-if="slide.website !== undefined" href="{{slide.website}}" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
      <a ng-if="slide.video !== undefined" href="{{slide.video}}" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
      <a ng-if="slide.rubygem !== undefined" href="{{slide.rubygem}}" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
     </div>
  </div>

  <!-- <div id="details" class="more-info" ng-show="toggleInfo">
    <p ng-if="slide.overview !== undefined"><span>Overview:</span>  {{slide.overview}}<br> * </p>
    <p ng-if="slide.front !== undefined"><span>Front:</span>  {{slide.front}}<br> * </p>
    <p ng-if="slide.back !== undefined"><span>Back:</span>  {{slide.back}}<br> * </p>
    <p ng-if="slide.apis !== undefined"><span>APIs:</span>  {{slide.apis}}<br> * </p>
  </div> -->

</div>
</div>
